@model FilmCatalog.Models.Film;
@{
    var film = Model;
    ViewData["Title"] = film.Title;
    string base64String = string.Empty;
    string likeClass = ViewData["LikeClass"].ToString();
}

@section Scripts{
    <script type="text/javascript">
        function myFunction(x) {
            x.classList.toggle("fa-thumbs-down");
            console.log(x.className);
        }
    </script>
}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="film">
    <section class="filmInfoSection">
        <div class="image">
            @{
                base64String = Convert.ToBase64String(film.Poster);
            }

            <img class="poster" src="@String.Format("data:image/png;base64,{0}", base64String)"/>
        </div>
    </section>
    <section class="filmInfoSection">
        <p>
            <strong>Title: </strong>@film.Title
        </p>
        <p>
            <strong>Year Published: </strong>@film.YearPublished
        </p>
        <p>
            <strong>Description:</strong>
        </p>
        <p>@film.Description</p>
        <p>
            <strong>Directed by: </strong>@film.Director
        </p>
        <p>
            <strong>Posted by: </strong>@film.User.Email
        </p>
        <p>
            <a asp-action="Like" asp-controller="Home" asp-route-id="@film.FilmId">
                <i class="@likeClass">@film.Likes.Count</i>
            </a>
        </p>
    </section>
</div>